* {
	padding: 0px;
	margin: 0px;
	border: none;
}

body {
    font-family: 'Roboto', sans-serif;
    font-family: 'Raleway', sans-serif;
    margin: 0%;
    padding: 0%;
}


.container_sec {
    max-width: 1320px;
    padding: 0px 60px;
    margin: 0% auto;
}

.container {
    max-width: 1317px;
    padding: 0px 20px;
    margin: 0% auto;
}

/* header */

.header {
    padding-top: 34px;
    background-color: #fff;
}

/* nav */

.header_nav {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-bottom: 41px;
}

.nav_list {
    display: flex;
    column-gap: 50px;
    align-items: flex-end;
}

.nav_list_title {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
}

.nav_list_link {
    color: #214E41;
}


.header_button {
   padding-left: 69px;
}

.nav_button {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;
    background: #43806C;
    border-radius: 6px;
    padding: 10px 14px;
}

#login {
    padding-left: -29px;
}

.login_btn {
    padding-top: 5px;
    padding-left: 7px;
}

/* nav end */

/* header end */

/* SECTION */

.section_one {
    background-image: url(/img/section_1.svg);
    max-width: 100%;
    max-height: 100%;
    height: 720px;
    background-repeat: no-repeat;
    background-position: center center; 
}

.sec_content {
    position: absolute;
    margin-top: 147px;
    max-width: 516px;
}

.text_sec {
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 36px;
    line-height: 46px;
    color: #214E41;
}

.sec_content p {
    position: absolute;
    margin-top: 40px;
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #214E41;
}

.btn_sec {
    margin-top: 80px;
}

.btn_sec_text {
    height: 60px;
    width: 100%;
    max-width: 280px;
    background: #FFFFFF;
    border-radius: 6px 0px 0px 6px;
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    color: #222222;
}

.btn_sec_find {
    margin-left: -4px;
    height: 60px;
    width: 123px;
    background: #43806C;
    border-radius: 0px 6px 6px 0px;
    cursor: pointer;
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;
}

input[type=text] {
    padding:20px;
    border:0;
}

.list_sec {
    position: relative;
    height: 171px;
    top: 625px;
    display: flex;
    align-items: center;
    background-color: #fff;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    box-shadow: 1px 1px 4px rgba(232, 230, 230, 0.6);
    border-radius: 6px;
}

.list_sec_d {
    padding: 0 50px;
    max-width: 376px;
    width: 100%;
}

.list_glav {
    display: flex;
    margin: 0% auto;
}

.list_sec_d p {
    font-family: 'Raleway';
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #214E41;
}

.list_sec_d span {
    padding-bottom: 7px;
    display: flex;
    font-family: 'Raleway';
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #214E41;
}

/* sec 2 */

.breall {
    margin-top: 213px;
}


.text_breall {
    margin: 0%;
    margin-left: 60px;
    max-width: 510px;
}

.text_p {
    padding-top: 34px;
    font-family: 'Raleway';
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #757575;
}

.text_breall span {
    padding-bottom: 20px;
    font-family: 'Raleway';
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    color: #43806C;
}

.text_breall h2 {
    padding-top: 20px;
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 36px;
    line-height: 46px;
    color: #214E41;
}

.breall_btn {
    margin-top: 17px;
    max-width: 107px;
    width: 100%;
    height: 39px;
    background: #214E41;
    border-radius: 4px;
}

.breall_btn p {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    color: #FFFFFF;
}


/* sectrion_3 */

.section_3 {
    padding-top: 157px;
    display: flex;
    max-width: 1440px;
    max-height: 640px;
    margin: 0% auto;
    justify-content: space-between;
}

.color_1 {
    display: flex;
    background-color: #E3EEED;
    max-width: 705px;
    width: 100%;
    height: 640px;
}

.color_2 {
    max-width: 735px;
    width: 100%;
    height: 640px;
    background-color: #214E41;
}

.color_text span {
    position: absolute;
    padding-left: 120px;
    padding-top: 120px;
    font-family: 'Raleway';
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    color: #214E41;
}

.color_li a { 
    color: #43806C;
}

.color_li {
    padding-left: 120px;
    padding-bottom: 18px;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 32px;
    line-height: 42px;
    color: #43806C;
}

.color_bloc {
    padding-top: 169px;
}

.color_glav img  {
    padding-top: 13px;
    padding-left: 36px;
}

.color_glav a {
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 32px;
    line-height: 42px;
    color: #214E41;
}

.bloc_p {
    margin-left: 115px;
    margin-top: 165px;
    max-width: 492px;
    height: 100%;
    max-height: 272px;
}

.bloc_p_2 {
    margin-top: 35px;
}

.bloc_p p {
    font-family: 'Raleway';
    font-weight: 400;
    font-size: 20px;
    line-height: 34px;
    letter-spacing: 0.02px;
    color: #FFFFFF;
}

/* sec 4 */

.section_4 {
    
    margin-top: 270px;
}

.one_plan {
    display: flex;
    justify-content: space-between;
}

.con_one_plan {
    max-width: 600px;
    width: 100%;
    max-height: 100%;
    height: 298.34px;
    
}

.con_one_plan span {
   
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 13px;
    line-height: 20px;
    text-transform: uppercase;
    color: #43806C;
}

.con_one_plan h2 { 
    margin-top: 20px;
    margin-bottom: 34px;
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 36px;
    line-height: 46px;
    color: #214E41;
}

.con_one_plan p {
    font-family: 'Raleway';
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #757575;
    max-width: 551px;
}

/* LIST */

.sec_list {
    justify-content: space-between;
    display: flex;
    padding-top: 60px;
}

.sec_list_text {
    max-width: 262px;
}

.sec_list_text h2 {
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 60px;
    line-height: 78px;   
    color: #F0A446;
}

.sec_list_text p {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 13px;
    line-height: 22px;
    
    color: #214E41;
}

/* video */

.video_sec {
    margin-top: 120px;
}

.video {
    display: flex;
    justify-content: space-between;
    /* background-color: #222222; */
}

.phone {
    height: 500px;
    max-width: 514px;
    width: 100%;
}

.phone {
    text-align: center;
}

.video_text {
    height: 500px;
    max-width: 686px;
    width: 100%;
}

.text_video {
    margin-left: 18%;
    margin-top: 69px;
    height: 309px;
    max-width: 545px;
    width: 100%;
}

.text_video span {
    text-transform: uppercase;
    font-family: 'Raleway';
    font-weight: 900;
    font-size: 13px;
    line-height: 20px;

    color: #43806C;
}

.text_video p {
    /* padding-top: 34px; */
    font-family: 'Raleway';
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 0.02px;
    color: #757575;
}

.text_video h2 {
    padding-top: 20px;
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 36px;
    line-height: 46px; 
    color: #214E41;
}

.play_video {
    margin-top: 13px;
    max-width: 108px;
    width: 100%;
    height: 40px;
    background: #214E41;
    border-radius: 4px;
}

.play_video p {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    color: #FFFFFF;
}

.learn_sec {
    padding-top: 126px;
    background-image: url(/img/learn.svg);
    max-width: 100%;
    max-height: 100%;
    height: 519px;
    background-repeat: no-repeat;
    background-position: center center;  
}

.lear_tet {
    max-width: 491px;
    width: 100%;
    /* height: 282px; */
}

.lear_tet h2 {
    margin-top: 20px;
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 36px;
    line-height: 46px;
    
    color: #214E41; 
}

.lear_tet span {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 13px;
    line-height: 20px;

    color: #43806C;
    text-transform: uppercase;
}

.learn_btn p {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    
    color: #FFFFFF;
}

.learn_btn {
    margin-top: 16px;
    width: 108px;
    height: 40px;
    background: #214E41;
    border-radius: 4px;
}

.proudly {
    height: 347px;
    margin-top: 120px;
}

.proudly_h2 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 46px;

    text-align: center;

    color: #214E41;
}

.proudly_div {
    display: flex;
    justify-content: space-between;
    margin-top: 110px;
}
.arrow_r {
    transform: rotate(180deg);
}

.card_title h3 {
    margin-top: 15px;
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    color: #214E41;
}

.card_title img {
    margin-bottom: 20px;
}

.card_title span {
    font-family: 'Raleway';
    font-weight: 400;
    font-size: 11px;
    line-height: 18px;
    text-transform: uppercase;
    color: #43806C;
}

.card_title {
    max-width: 355px;
    width: 100%;
    height: 367px;
}

.card_case {
    display: flex;
    justify-content: center; 
    column-gap: 55px;
}

.container_sec1 {
    max-width: 1440px;
    margin: 0% auto;
}

.get {
    margin-top: 120px;
}

.get_title {
    max-width: 720px;
    width: 100%;
    height: 577px;
    background-color: #E3EEED;
}

.get_glav {
    display: flex;
}

.get_text {
    padding-left: 120px;
    margin-top: 144px;
    max-width: 600px;
    width: 100%;
    
}

.get_text h3 {
    padding-bottom: 46px;
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 36px;
    line-height: 46px;
    color: #214E41;
}

.get_btn p {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 13px;
    line-height: 21px;
    text-align: center;
    letter-spacing: 0.02px;
    color: #FFFFFF;
}

.get_btn {
    margin-top: 14px;
    width: 125px;
    height: 47px;
    background: #43806C;
    border: 1px solid #43806C;
    border-radius: 6px;
}

.footer {
    padding-top: 100px;
    margin: 0% auto;
    max-width: 1440px;
    background-color: #214E41;
    height: 788px;
}

.info {
    display: flex;
    height: 286px;
}

.info img {
    width: 97.48px;
    height: 28px;
}

.div_list {
    margin-left: 104px;
}

.div_list_2 {
    margin-left: 115px;
}

.list_li_01 {
    margin-bottom: 15px;
    font-family: 'Raleway';
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
    color: #FFFFFF;
}

.list_li_01_b {
    width: 100px;
    margin-bottom: 15px;
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 13px;
    line-height: 24px;
    text-transform: uppercase;
    
    color: #FFFFFF;
}

.latest {
    margin-left: 339px;
}

.latest span {
    
    font-family: 'Raleway';
    font-weight: 400;
    font-size: 13px;
    line-height: 24px;
    text-transform: uppercase;
    
    color: #FFFFFF;
}

.latest p {
    margin-top: 19px;
    font-family: 'Raleway';
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.02px;
    
    color: #FFFFFF;
}

.btn__text {
    border: 1px solid;
    background-color: #E3EEED;
}

.hr_latest {
    margin-top: 285px;
    position: absolute;
    max-width: 1200px;
    width: 100%;
    height: 1px;
    background: #FFFFFF;
}

.btn_latest {
    width: 200px;
    height: 40px;
    background-color: #fff;
}

.btn_la_find {
    margin-left: -4px;
    height: 41px;
    width: 40px;
    background-color: #43806C;
}

.btn_la {
    margin-top: 16px;
}

.la_link img {
    width: 20px;
    height: 20px;
}

.icons {
    padding-top: 32px;
    display: flex;
    column-gap: 25px;
    
}
.icons img {
    width: 26px;
}

.text_footer p {
    padding-bottom: 22px;
    font-family: 'Raleway';
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;

    letter-spacing: 0.02px;

    color: #FFFFFF;
}

.text_footer {
    padding-top: 70px;
}

.text_footer2 {
    padding-top: 90px;
    display: flex;
    justify-content: space-between;
}

.text_footer2 p {
    font-family: 'Raleway';
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;

    letter-spacing: 0.02px;

    color: #FFFFFF;
}